body{
    color:green;
    background:white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}
address{
    font-size: 0.9em;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}
blockquote{
    background-color: silver;
}
ul {
    list-style: circle url("hinh/Apple.jpg") outside;
}
ul b {
    color:rgb(155,0,0)
}
a{
    font-size: 0.9em;
    color:green
}
a:hover {
    color: red;
    text-transform: uppercase;
    font-weight:bold;
}
special{
    color:rgb(153,102,6);
    font-weight:bold;
}
div.Article{
    padding:0.5em;
    border-style:solid;
    border-width: 2px;
    background-color: rbg(252,221,163);
    width:250px;
    float:right;
}